<div>
  <h1 class="font-bold text-4xl">みんなのタイムテーブル</h1>
</div>
<%= link_to "プロフィール", profile_path %><br>
<%= link_to "タイムテーブル作成", new_event_path %><br>
<%= link_to "作成したイベント", events_path, class: "underline" %>