<div class="mt-24 flex flex-col justify-center items-center">
  <div class="w-full max-w-md flex flex-col justify-center items-center">
    <div class="w-full flex justify-center mb-8">
      <p class="font-semibold text-2xl text-gray-800 leading-relaxed">
        <span class="font-bold text-4xl">スマホ</span>でも見やすい<br>
        <span class="font-bold text-4xl">タイムテーブル</span>を作ろう
      </p>
    </div>
    <div class="min-w-xs max-w-xs space-y-8">
      <% if user_signed_in? %>
        <%= link_to new_event_path,
                        class: "flex justify-center items-center w-full px-4 py-2 bg-gray-800 text-white rounded-md hover:bg-gray-900" do %>
          <span class="material-symbols-outlined mr-1">table</span>
          <span class="font-semibold">タイムテーブルを作る →</span>
        <% end %>
        <%= link_to events_path,
                        class: "flex justify-end w-full text-md text-blue-800 underline" do %>
          <span class="font-semibold">作成したタイムテーブル一覧を見る →</span>
        <% end %>
      <% else %>
        <div class="w-full">
          <%# Googleログインボタン %>
          <%= render "layouts/google_login_button" %>
        </div>
      <% end %>
    </div>
  </div>
</div>