<%# モーダル %>
<%= turbo_frame_tag "modal" do %>
  <div class="fixed inset-0 z-300 flex items-center justify-center bg-black/40",
        data-controller="modal clipboard"
        data-action="click->modal#close"
    data-clipboard-text-value="<%= request.original_url %>">
    <div class="relative max-h-[80svh] overflow-y-auto bg-white rounded-lg shadow-lg max-w-md w-full mx-4",
          data-action="click->modal#stop">
      <%# × ボタン %>
      <button type="button"
              class="absolute top-2 right-2 text-gray-400 hover:text-gray-700 cursor-pointer"
              data-action="click->modal#close">
        <span class="material-symbols-outlined">close</span>
      </button>
      <%# タイトル %>
      <p class="mb-4 font-bold text-center text-lg">
        このタイムテーブルを共有
      </p>
      <%# X共有 %>
      <%= link_to "Xで共有",
                "https://x.com/intent/post?url=#{CGI.escape(request.original_url)}&text=#{CGI.escape(@event.display_name + '｜みんなのタイムテーブル #みんなのタイムテーブル')}",
                target: "_blank",
                rel: "noopener noreferrer",
                class: "block w-full text-center bg-black text-white py-2 rounded mb-2" %>
      <%# URLコピー %>
      <button data-action="click->clipboard#copy"
        data-action="click->clipboard#copy"
        class="block w-full text-center bg-gray-200 py-2 rounded">
        URLをコピー
      </button>
      <%# トースト通知表示用（最初は非表示） %>
      <div data-clipboard-target="toast"
                class="fixed bottom-6 left-1/2 transform -translate-x-1/2 bg-black text-white text-sm py-2 px-4 rounded opacity-0 transition-opacity duration-300">
        URLをコピーしました
      </div>
    </div>
  </div>
<% end %>