<% if resource.errors.any? %>
  <div id="error_explanation" data-turbo-cache="false" class="max-w-md mx-auto my-4 p-4 rounded-md bg-red-100 text-red-800">
    <ul class="list-disc list-inside">
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
