<div class="h-[calc(100vh-3rem)] flex flex-col overflow-hidden">
    <%# ヘッダー部分 - 画面上部に固定 %>
    <header class="bg-white shadow-sm z-10">
        <%# ヘッダー部分 - レイアウト %>
        <div class="flex items-center justify-between px-4 py-2">
            <%# ダミー要素 %>
            <div class="w-8"></div>
            <%# タイトル %>
            <h1 class="pr-3 text-sm text-gray-800 font-bold">みんなのタイムテーブル</h1>
            <%# タイムテーブル新規作成ボタン %>
            <div class="flex justify-between items-center px-4 py-4">
                <% if authenticated? %>
                <%= link_to t(".new"), new_timetable_path, class: "inline-flex items-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
                <% end %>
            </div>
        </div>
    </header>

    <%# タイムテーブル一覧 - スクロール可能エリア %>
    <div class="w-full overflow-auto">
        <div class="max-w-4xl mx-auto px-4 py-8">
            <div class="flex flex-col items-center justify-center">
                <% 50.times do |i| %>
                <div class="w-full px-3 mb-6">
                    <%= link_to "/timetables/1", class: "cursor-pointer w-full bg-white p-6 rounded-lg shadow-md flex hover:scale-[1.01] transition-transform duration-150" do %>
                    <div class="w-full">
                        <h2 class="text-lg font-semibold text-gray-900 break-words">
                            <%= "DEMO TIMETABLE#{i + 1}" %>
                        </h2>
                        <div class="flex items-center justify-end text-gray-500">
                            <span class="text-sm">created by</span>
                            <span class="text-xs ml-1">@user<%= i + 1 %></span>
                        </div>
                    </div>
                    <% end %>
                </div>
                <% end %>
            </div>
        </div>
    </div>
</div>