<div class="max-w-md mx-auto mt-10 p-6 bg-white shadow-md rounded-lg">
  <%# 名前 %>
  <div class="">
    <p class="text-gray-800"><%= @user.name %></p>
  </div>
  <%# ユーザー名 %>
  <div class="mb-6">
    <small class="text-sm text-gray-500"><%= "@#{@user.username}" %></small>
  </div>
  <%# 説明欄 %>
  <div class="mb-6">
    <p class="text-gray-800 whitespace-pre-wrap"><%= @user.description %></p>
  </div>
</div>
