<%# 検索結果などに表示されるタイトルと説明 %>
<% content_for :title, "#{@user.name} #{@page_title} | みんなのタイムテーブル" %>
<% content_for :description, "#{@user.name}の#{@page_title}。#{@user.description if @user.description.present?}" %>
<div class="max-w-md mx-auto p-6">
  <%# 名前 %>
  <div class="">
    <p class="text-gray-800"><%= @user.name %></p>
  </div>
  <%# ユーザー名 %>
  <div class="mb-6">
    <small class="text-sm text-gray-500"><%= "@#{@user.username}" %></small>
  </div>
  <%# 説明欄 %>
  <div class="mb-6">
    <%= auto_link_text(@user.description) %>
  </div>
</div>
