<%# 検索結果などに表示されるタイトルと説明 %>
<% content_for :title, "みんなのタイムテーブル | 音楽フェス向けタイムテーブル作成サービス" %>
<% content_for :description, "音楽フェスのWeb版タイムテーブルを簡単に作れるサービス。文字を入力するだけでタイムテーブルが出来上がる。スマホでもPCでも見やすい。" %>
<div class="min-h-[calc(100svh-15rem)] flex flex-col justify-center items-center">
  <div class="w-full max-w-md flex flex-col justify-center items-center">
    <div class="w-full flex flex-col justify-center items-center mb-6">
      <h1 class="flex justify-center items-end yusei-magic-regular font-semibold mb-4">
        <span class="text-3xl text-gray-800">みんなのタイムテーブル</span>
        <span class="text-md text-gray-500">（β）</span>
      </h1>
      <%# ヒーローイメージ %>
      <%= image_tag "hero.png", class: "mb-4" %>
      <p class="mb-1 w-full min-w-xs max-w-xs text-lg text-gray-500 leading-relaxed">
        文字だけでタイムテーブルができる。<br>
        スマホでもPCでも、誰でも使える。
      </p>
      <div class="w-full flex justify-center">
        <%= link_to "https://minnanotimetable.com/t/VZAIkCmjJ2I",
                                  class: "text-sm text-blue-600 hover:underline" do %>
          <span class="font-semibold">サンプルを見てみる→</span>
        <% end %>
      </div>
    </div>
    <div class="min-w-xs max-w-xs">
      <% if user_signed_in? %>
        <%= link_to events_path,
                        class: "flex justify-center items-center w-full px-4 py-2 bg-gray-800 text-white
                                rounded-full hover:bg-gray-900 mb-8" do %>
          <span class="material-symbols-outlined mr-1">list</span>
          <span class="font-semibold">作成したタイムテーブル一覧 →</span>
        <% end %>
      <% else %>
        <button data-controller="modal"
                  data-action="click->modal#open"
          data-url="<%= new_session_path %>"
          class="mb-6 px-4 py-2 bg-gray-800 text-white rounded-full hover:bg-gray-900
          flex justify-center items-center w-full cursor-pointer" >
          <span>無料ではじめる→</span>
        </button>
      <% end %>
    </div>
  </div>
</div>