<%# タイムテーブル一覧パーシャル %>
<% if @past_index.present? %>
  <h2 class="col-span-1 sm:col-span-2 lg:col-span-3 text-gray-800 font-semibold text-xl">
    もうすぐ開催されるイベント
  </h2>
  <% events.each_with_index do |event, i| %>
    <% if i == @past_index %>
      <h2 class="mt-6 col-span-1 sm:col-span-2 lg:col-span-3 text-gray-800 font-semibold text-xl">
        過去のイベント
      </h2>
    <% end %>
    <%= render "events/event", event: event %>
  <% end %>
<% else %>
  <% events.each do |event| %>
    <%= render "events/event", event: event %>
  <% end %>
<% end %>