<%# 検索結果などに表示されるタイトルと説明 %>
<% content_for :title, "#{@page_title} #{@event.display_name} | みんなのタイムテーブル" %>
<% content_for :description, "#{@event.display_name}の#{@page_title}。" %>
<% if turbo_frame_request? %>
  <%= render "modal_new", day: @day %>
<% else %>
  <div class="my-4 pb-[calc(5.25rem+env(safe-area-inset-bottom))]">
    <%= render "form", day: @day %>
  </div>
  <%# 下部タブメニュー %>
  <%= render "layouts/bottom_tab" %>
<% end %>
