<% if turbo_frame_request? %>
  <%= render "modal_new", performer: @performer %>
<% else %>
  <div class="my-4 pb-[calc(5.25rem+env(safe-area-inset-bottom))]">
    <%= render "form", performer: @performer %>
  </div>
  <%# 下部タブメニュー %>
  <%= render "layouts/bottom_tab" %>
<% end %>
