<%# モーダル %>
<%= turbo_frame_tag "modal" do %>
  <div class="fixed inset-0 z-300 flex items-center justify-center bg-black/40",
        data-controller="modal"
        data-action="click->modal#close">
    <div class="relative max-h-[80svh] overflow-y-auto bg-white rounded-lg shadow-lg max-w-md w-full mx-4",
          data-action="click->modal#stop">
      <%# × ボタン %>
      <button type="button"
              class="absolute top-2 right-2 text-gray-400 hover:text-gray-700 cursor-pointer"
              data-action="click->modal#close">
        <span class="material-symbols-outlined">close</span>
      </button>
      <%= render "form", stage: @stage %>
    </div>
  </div>
<% end %>