<div class="max-w-md mx-auto mt-10 p-6 bg-white shadow-md rounded-lg">
  <%# ステージ名 %>
  <h1 class="text-xl font-bold text-gray-900 mb-4">
    <%= @stage.stage_name_tag.name %>
  </h1>
  <%# 説明 %>
  <% if @stage.description.present? %>
    <div class="mb-6">
      <p class="text-gray-800 whitespace-pre-line"><%= @stage.description %></p>
    </div>
  <% end %>
  <%# 住所 %>
  <% if @stage.address.present? %>
    <div class="mb-6">
      <h2 class="text-md font-bold text-gray-900">住所</h2>
      <p class="text-gray-800 whitespace-pre-line">
        <%= @stage.address %>
      </p>
    </div>
  <% end %>
  <%# 編集ボタン（作成者のみ） %>
  <div>
    <% if @event.user == current_user %>
      <%= link_to "編集",
          edit_event_stage_path(@event.event_key, @stage),
          class: "flex justify-center w-full py-2 rounded-md bg-gray-600 text-white hover:bg-gray-700 transition cursor-pointer" %>
    <% end %>
  </div>
</div>
