@tailwind base;
@tailwind components;
@tailwind utilities;

/* GoogleログインボタンのCSSを読み込む */
@import "google-sign-in-btn";

/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/