/* ===== ステージヘッダー ===== */
/* ステージヘッダーの背景（奇数） */
th.stage-col:nth-child(odd) .bg-stage {
    /* gray-200 */
    background-color: #e5e7eb;
}

/* ステージヘッダーの背景（偶数） */
th.stage-col:nth-child(even) .bg-stage {
    /* gray-300 */
    background-color: #d1d5db;
}

/* 最後のステージ以外の右端にボーダーをつける */
th.stage-col:not(:last-child) {
    border-right: 1px solid white;
}


/* ===== 時刻列（左端） ===== */
/* 時刻列の正時以外を非表示にする */
.time-cell[data-minute]:not([data-minute="0"]) span {
    display: none;
}


/* ===== テーブルボディ部分の背景 ===== */
/* テーブルボディ部分の背景色（偶数） */
td.stage-col:nth-child(odd) {
    /* gray-100 */
    background-color: #f3f4f6;
}

/* テーブルボディ部分の背景色（奇数） */
td.stage-col:nth-child(even) {
    /* gray-200 */
    background-color: #e5e7eb;
}