<%# イベント用ヘッダー (@show_event_headerがtrueの場合のみ表示) %>
<% if @show_event_header %>
  <header class="fixed top-8 z-160 left-0 w-full p-2 h-8 flex justify-center items-center
                <%= event_header_color %>">
    <div class="flex-1"></div>
    <h1 class="text-sm text-white truncate text-center flex-none max-w-[95%]">
      <%= @event.event_name_tag.name %>
    </h1>
    <%# 共有ボタン（data-urlで読み込ませたいURLを指定する） %>
    <div class="flex-1 flex justify-end">
      <button
          data-controller="modal"
          data-action="click->modal#open"
        data-url="<%= share_event_path(@event.event_key) %>"
        class="flex items-center text-white hover:text-gray-200 cursor-pointer">
        <span class="material-symbols-outlined"
              style="font-size: 1.25rem;">
          ios_share
        </span>
      </button>
    </div>
  </header>
<% end %>