<%# イベント用ヘッダー (@show_event_headerがtrueの場合のみ表示) %>
<% if @show_event_header %>
  <header class="fixed top-0 z-160 left-0 w-full p-2 h-12 bg-gray-800 flex items-center">
    <%# タイトル（中央固定） %>
    <div class="w-full mx-auto px-4 flex justify-between items-center relative">
      <h1 class="absolute inset-x-0 text-center text-sm text-white line-clamp-2 pointer-events-none">
        <%= @event.event_name_tag.name %>
      </h1>
    </div>
  </header>
<% end %>